<div class="row">
    {% block top %}
    {% endblock %}
</div>
<div class="row">
    <div class="col-md-5 col-sm-6 col-xs-12 left-box">
        {% block left %}
            <div class="box box-register">
                {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
            </div>
        {% endblock %}
    </div>

    <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12 right-box">
        {% block right %}
            <div class="box">
                {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
            </div>
        {% endblock %}
    </div>
</div>
